<a href="https://colab.research.google.com/github/HURU-School/Data-Science/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




# Introduction to Python

This is a notebook that introduces the use of python using Google Colab Notebooks

In [4]:
# Simple mathematical operations

3+3

6

In [2]:
#division

22/8

2.75

In [ ]:
# Variables
# rules in creating varibles use one word
# use letter,number,underscore
# cannot begin with a number cant be a keyword

In [ ]:
#snake_case
my_value = 10

# pascal case
MyValue2 = 20

# camelcase
myValue3 =30

In [ ]:
# Rules of creating comments in python

"""
this 
is a 
comment
- can also use  3 single quotes

"""

'\nthis \nis a \ncomment\n\n'

In [6]:
# case sensitive

MYVALUE2

NameError: ignored

In [ ]:
# sensitive to indentattion

# Data types

In [ ]:
"""
common data types:
1.Numbers
2.Strings
3.List
4.Dictionary
5.Boolean
6.Tuples

"""

'\ncommon data types:\n1.Numbers\n2Strings\n3.List\n4.Dictionary\n5.Boolean\n6.Tuples\n\n\n'

In [ ]:
#Numbers

num1 = 10
num2 = 20
num1 - num2

-10

In [7]:
# Strings
# Rules of implementing strings
# within single or double quotes

my_name = "Kenny"
my_name2 = 'Rodgers'

In [8]:
my_name

'Kenny'

In [9]:
my_name2

'Rodgers'

In [ ]:
'''
operations on strings
1. Replication
2. Concatenation

'''

'\noperations on strings\n1.replication\n2.Concatination\n\n'

In [13]:
# Concatenation
first_name = "Kenny"
last_name = "Rodgers"
full_name = first_name +" " + last_name
full_name

'Kenny Rodgers'

In [15]:
# Replication
# we use * operator
first_name_4 = first_name * 4

In [16]:
first_name_4

'KennyKennyKennyKenny'

# Casting

In [31]:
# Conversion between data types

my_int =10

In [33]:
type(my_int)

int

In [34]:
my_float =float(my_int)

In [35]:
type(my_float)

float

In [36]:
my_float

10.0

In [37]:
my_int_to_string = str(my_int)

In [38]:
my_int_to_string

'10'

In [39]:
answer = first_name + " " + my_int_to_string

In [40]:
answer

'Kenny 10'

In [26]:
# Some Predefined Functions int(),str(),float()

In [27]:
# Short quiz
# Create a variable that hold the name of your country
# Create another variable that holds a number btn 300-1000
# Create another variable that contains the results a concatenation of the above variables

In [43]:
my_country ="Kenya"
my_num = 254
converted_num =str(my_num)
answer = my_country + " " +converted_num
answer

'Kenya 254'