<a href="https://colab.research.google.com/github/HURU-School/Data-Science/blob/main/Introduction_to_Measures_of_Central_Tendency_Dispersion_and_Summary_Statistics_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to Measures of Central Tendency/ Dispersion and Summary Statistics in Python**<br/>
Adapted from Prof. Dr. Jan Kirenz <br/>
Hochschule der Medien Stuttgart 
for HURU School data science class

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-data" data-toc-modified-id="Import-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import data</a></span></li><li><span><a href="#Data-transformation" data-toc-modified-id="Data-transformation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data transformation</a></span><ul class="toc-item"><li><span><a href="#Descriptive-statistics" data-toc-modified-id="Descriptive-statistics-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Descriptive statistics</a></span><ul class="toc-item"><li><span><a href="#Measures-of-central-tendency" data-toc-modified-id="Measures-of-central-tendency-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Measures of central tendency</a></span></li><li><span><a href="#Measures-of-dispersion" data-toc-modified-id="Measures-of-dispersion-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Measures of dispersion</a></span></li><li><span><a href="#Summary-statistics" data-toc-modified-id="Summary-statistics-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Summary statistics</a></span></li></ul></li></ul></li></ul></div>

In [1]:
# Here we import the Python for Data Analysis Library(Pandas)

import pandas as pd

# Pandas Cheat Sheet

[*Resource*](https://drive.google.com/file/d/1UHK8wtWbADvHKXFC937IS6MTnlSZC_zB/view)

## Import data




 # Explore Data for a Company with 3000 employees

[View Data](https://github.com/selva86/datasets/blob/master/Wage.csv)

In [2]:
# Import data from your source e.g GitHub (or from your local computer)

df = pd.read_csv("https://raw.githubusercontent.com/kirenz/datasets/master/wage.csv")

In [5]:
# Here we can check the shape of the dataset

df.shape

(3000, 12)

In [4]:
# Here we check the information of the dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3000 non-null   int64
 1   year        3000 non-null   int64
 2   age         3000 non-null   int64
 3   maritl      3000 non-null   object
 4   race        3000 non-null   object
 5   education   3000 non-null   object
 6   region      3000 non-null   object
 7   jobclass    3000 non-null   object
 8   health      3000 non-null   object
 9   health_ins  3000 non-null   object
 10  logwage     3000 non-null   float64
 11  wage        3000 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 281.4+ KB

In [7]:
# Here we can check the columns

df.columns

Index(['Unnamed: 0', 'year', 'age', 'maritl', 'race', 'education', 'region',
       'jobclass', 'health', 'health_ins', 'logwage', 'wage'],
      dtype='object')

## Data transformation

### Descriptive statistics

#### Measures of central tendency

First of all we obtain some common statistics per variable. Say the average age of employees in the company

> Indented block

In [8]:
# mode - note you can use single brackets
df['age'].mode()

0    40
dtype: int64

In [9]:
# calculation of the mean (e.g. for age) - here we use double brackets
df["age"].mean()

42.41466666666667

In [10]:
# calculation of the mean (e.g. for age) and round the result
round(df["age"].mean(), 2)

42.41

In [11]:
# calculation of the median (e.g. for age)
df["age"].median()

42.0

In [12]:
# use a function to print a text with the output
print(f'The median of age is {df["age"].median()}')

The median of age is 42.0

[link text](https:// [link text](https://))#### Measures of dispersion - how distributed our data is

In [ ]:
# quantiles
df['age'].quantile([.25, .5, .75])

0.25    33.75
0.50    42.00
0.75    51.00
Name: age, dtype: float64

In [ ]:
# Range
df['age'].max() - df['age'].min()

62

In [ ]:
# standard deviation
round(df['age'].std(),2)

11.54

#### Summary statistics - for all our data

In [ ]:
# summary statistics for all numerical columns
round(df.describe(),2)

       Unnamed: 0     year      age  logwage     wage
count     3000.00  3000.00  3000.00  3000.00  3000.00
mean    218883.37  2005.79    42.41     4.65   111.70
std     145654.07     2.03    11.54     0.35    41.73
min       7373.00  2003.00    18.00     3.00    20.09
25%      85622.25  2004.00    33.75     4.45    85.38
50%     228799.50  2006.00    42.00     4.65   104.92
75%     374759.50  2008.00    51.00     4.86   128.68
max     453870.00  2009.00    80.00     5.76   318.34

Compare summary statistics for specific groups in the data:

In [ ]:
# summary statistics by groups
df['age'].groupby(df['education']).describe()

                    count       mean        std   min   25%   50%    75%   max
education
1. < HS Grad        268.0  41.794776  12.611111  18.0  33.0  41.5  50.25  75.0
2. HS Grad          971.0  42.217302  12.023480  18.0  33.0  42.0  50.00  80.0
3. Some College     650.0  40.887692  11.523327  18.0  32.0  40.0  49.00  80.0
4. College Grad     685.0  42.773723  10.902406  22.0  34.0  43.0  51.00  76.0
5. Advanced Degree  426.0  45.007042  10.263468  25.0  38.0  44.0  53.00  76.0