#Sets
## 1. initialize empty sets and sets with values.
## 2. add and remove values from sets
## 3. membership tests and removing duplicate values from a list
## 4. perform operations like unions, intersections, difference

In [ ]:
# initialize an empty set
my_set = set()
my_set

set()

In [ ]:
# initialize a set with values
num_set = set([1,2,3,4,5,6])  # pass a list of numbers
num_set

{1, 2, 3, 4, 5, 6}

In [ ]:
# You can also initialize a set with values using {}
num_set2 = {5,6,7,8,9,10}
num_set2

{5, 6, 7, 8, 9, 10}

In [ ]:
# an empty set cannot be initialized by {}
not_empty_set = {}
type(not_empty_set)   # dict not a set

dict

In [ ]:
#Sets are heterogeneous, allows different types
my_het_set = {'A','B','C','Z', 1,3,4,('X','M')}
my_het_set

{('X', 'M'), 1, 3, 4, 'A', 'B', 'C', 'Z'}

In [ ]:
#Add Value to a Set 
#Sets are also unordered
my_het_set.add('Erasto')
my_het_set

{('X', 'M'), 1, 3, 4, 'A', 'B', 'C', 'Erasto', 'Z'}

In [ ]:
#remove Value from a set
my_het_set.remove(('X', 'M'))
my_het_set

{1, 3, 4, 'A', 'B', 'C', 'Erasto', 'Z'}

In [ ]:
#remove Value from a set
my_het_set.discard(4)
my_het_set

{1, 3, 'A', 'B', 'C', 'Erasto', 'Z'}

In [ ]:
my_het_set.pop()
my_het_set

{3, 'A', 'B', 'Erasto', 'Z'}

In [ ]:
#Clear all 
my_het_set.clear()
my_het_set

set()

In [ ]:
# set to remove duplicates from a list
print(list(set([1, 2, 3, 1, 7])))

[1, 2, 3, 7]

# Set Operation Methods

In [ ]:
#A set is a collection which is both unordered and unindexed.
#Once a set is created, you cannot change its items, but you can add new items.
#initialize sets
A = {1,2,3,4,5,7,8,15}
B = {5,6,7,8,9,10,11}
C = {1,10,13,18,5,13}

In [ ]:
#Union - a set having all members
AuB = A.union(B)
AuB

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15}

In [ ]:
AuBuC = A.union(B.union(C))
AuBuC

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 18}

In [ ]:
#Intersection - a set of common members
intersection_AB = A.intersection(B)
intersection_ABC = A.intersection(B.intersection(C))
intersection_ABC_2 = A.intersection(B,C)

print("A ", A)
print("B ", B)
print("C ", C)
print()
print("Intersection AB ", intersection_AB)
print("Intersection ABC ", intersection_ABC)
print("Intersection ABC ", intersection_ABC_2)

A  {1, 2, 3, 4, 5, 7, 8, 15}
B  {5, 6, 7, 8, 9, 10, 11}
C  {1, 5, 10, 13, 18}

Intersection AB  {8, 5, 7}
Intersection ABC  {5}
Intersection ABC  {5}

In [ ]:
# difference - A\B set of A members who are not in B

difference_AB = A.difference(B)
difference_BA = B.difference(A)
difference_BAC = B.difference(A,C)

print("A ", A)
print("B ", B)
print("B ", C)
print()
print("difference AB ", difference_AB)
print("difference BA ", difference_BA)
print("difference BAC ", difference_BAC)

A  {1, 2, 3, 4, 5, 7, 8, 15}
B  {5, 6, 7, 8, 9, 10, 11}
B  {1, 5, 10, 13, 18}

difference AB  {1, 2, 3, 4, 15}
difference BA  {9, 10, 11, 6}
difference BAC  {9, 11, 6}

In [ ]:
#Membership test
#check whether a specific element is contained in a set

print("A ", A)
# Membership test

print("20 is in set A ", 20 in A )
print("8 is in set A ", 8 in A )

A  {1, 2, 3, 4, 5, 7, 8, 15}
20 is in set A  False
8 is in set A  True